<footer class="footer">
    <div class="footer-head">
        <img class="footer-head-img" src="../img/user-png@1x.png" alt="young man working with laptop in office">
        <h2 class="footer-head-title">Let&#8217;s <span>work</span> together</h2>
    </div>
    <form class="footer-form" action="">
        <input class="footer-input" type="text" placeholder="clients@gmail.com">
        <textarea class="footer-comment" name="" id="" cols="20" rows="1" placeholder="comments"></textarea>
        <button class="form-btn">Send</button>
    </form>
    <address class="adress">
        <ul class="adress-list">
            <li class="adress-list-item">lloydjefferson@gmail.com</li>
            <li class="adress-list-item">+380 11 1111 11 11</li>
        </ul>
    </address>
</footer>