<footer class="footer">
    <div class="footer-head">
        <h2 class="footer-head-title">
            <picture class="footer-head-pic">
                <!-- <source
                  srcset="
                    ../img
                    ../img
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    ../img
                    ../img
                  "
                  type="image/webp"
                /> -->
                <source
                  srcset="
                  ../img/user-png-70x70@1x.png,
                  ../img/user-png-70x70@2x.png"
                  type="image/png"
                />
                <img class="footer-head-img"
                  src="../img/user-png-44x44@1x.png"
                  alt="young man working with laptop in office"
                  loading="lazy"
                />
            </picture>
            Let&#8217;s 
            <span class="current">work</span> 
            together
        </h2>
    </div>
    <form class="footer-form" action="">
        <div class="footer-input-wrapper">
            <input class="footer-input" type="text" placeholder="clients@gmail.com">
        </div>
        <div class="footer-comment-wrapper">
            <textarea class="footer-comment" name="" id="" cols="20" rows="1" placeholder="comments"></textarea>
        </div>
        <button class="form-btn" type="button" data-modal-open="Send">Send</button>
    </form>
    <address class="footer-adress">
        <ul class="adress-list">
            <li class="adress-list-item">
                <a class="footer-adress-link" href="">lloydjefferson@gmail.com</a>
            </li>
            <li class="adress-list-item">
                <a class="footer-adress-link" href="">+380 11 1111 11 11</a>
            </li>
        </ul>
    </address>
</footer>